<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /web202510/doggo-nest/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /web202510/doggo-nest/index.html [L]
</IfModule>